h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-large;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    color: brown;
    text-shadow: 10px 5px 10px black;
    word-spacing: 1em;
    letter-spacing: 5px;
}

.credit {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    font-style: italic;
    text-decoration: underline;
    text-transform: capitalize;
    text-align: center;
}

.tautan {
    font-family:Helvetica;
    font-size: 150%;
    font-weight: 600;
    text-decoration: double;
    text-transform: lowercase;
}

a.tautan:hover{
    color: red;
    text-shadow: 10px 5px 10px black;
}

a.tautan:active{
    color: green;
}

p.intro {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    text-align: justify;
}