*{
    font-family:sans-serif;
}

.border-1{
    border: 5px solid burlywood;
    text-align: center;
    border-bottom-width: 10px;
    border-left-width:10px;

}
#atas-solid{
    border: 4px;
    border-top-style: solid;
}

#bawah-solid {
    border: 4px;
    border-bottom-style: solid;
}

#kiri-solid {
    border: 4px;
    border-left-style:solid;
}

#kanan-solid {
    border: 4px;
    border-right-style: solid;    
}

#bawah-dotted {
    border-color: red;
    border-bottom-width:4px ;
    border-bottom-style: dotted;
}

#bawah-double {
    border-color: aqua;
    border-bottom-width: 10px;
    border-bottom-style: double;
}

#bawah-dashed{
    border-color: yellow;
    border-bottom-width: 5px;
    border-bottom-style: dashed;
}

.border-2{
    border-color: slateblue;
    border-style: solid;
    border-width: 20px;
    text-align: center;
}
.border-3{
    border-color: slateblue;
    border-style: solid;
    border-width: 20px 5px;
    text-align: center;
}
.border-4{
    border-color: slateblue;
    border-style: solid;
    border-width: 20px 10px 15px 20px;
    text-align: center;
}


